@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Progetto Mignotauri;<br />
                    Anno: 2022;<br />
                    Professori: Bozzi,Tropiano;
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Gruppo: Rughetta,Franco,De filippis;
                </p>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                 Progetto realizzato attraverso Visual Studio 2019.
                </p>
               
            </div>
        </div>
    </div>
</div>
